<div class="feed">
  <div class="feed__header">
    <h2>All Users</h2>
  </div>
  <div class="users">
    {{#each allUsers}}
      <!-- post starts -->
      <div class="post">
        <div class="post__avatar">
          <img src="/images/users/{{this.screen_name}}.jpg" alt="" />
        </div>
        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                {{"escape" this.name}}
                <span class="post__headerSpecial">
                {{#if this.verified}}
                  <span class="material-icons post__badge"> verified </span>
                {{/if}}
                  <span class="at">@{{'escape' this.screen_name}}</span>
              </span>
              </h3>
            </div>
            <div class="post__headerDescription">

            </div>
          </div>
        </div>
      </div>
      <!-- post ends -->
    {{/each}}
  </div>
</div>
